<% include header %>

    <!--flash-->
    <div class="ui container" style="margin-top: 20px">
        <% if(error && error.length > 0) { %>
            <div class="ui negative message">
              <div class="header">
                <%= error %>
              </div>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="ui positive message">
                <div class="header">
                    <%= success %>
                </div>
            </div>
        <% } %>
    </div>

<div style="max-width: 600px; margin: 30px auto; padding-top: 30px; padding-left: 5px; padding-right: 5px; min-height: 60%">
    
    <h4 class="ui horizontal divider header">
      <i class="send icon"></i>
      About Us
    </h4>
    <p>There is no us. Just me.</p>
    <p><strong>HereInPittsburgh</strong> is an independently developed website. 
    It's a Craigslist for Chinese folks in Pittsburgh.
    Hopefully it can smooth your life in Pittsburgh, helping you get rid of the tedious and inefficient WeChat groups.</p>
    <p>I'm <a href="https://www.linkedin.com/in/zihan-xie-374280104/" target="_blank"> <i class="linkedin square icon"></i> Zihan Xie</a>,
    graduated from University of Pittsburgh with a master degree in Information Science. 
    For more latest posts, please subscribe our official account on WeChat. 
    For advices and responses, if any, please contacts me via <a href=""><i class="mail icon"></i>hereinpitt@gmail.com</a>. 
    Thanks in advance.</p>
    
    <div class="ui divider"></div>
    
    <p><strong>哈匹HereInPittsburgh</strong> 是一个由独立开发者完成的网站。它给匹兹堡华人提供一个二手交易、转租房屋以及活动发布的平台。
    <strong>哈匹HereInPittsburgh</strong> 是匹兹堡华人自己的Craigslist，希望它可以代替繁杂低效的众多微信群，为大家提供更好的服务。</p>
    <p>我是<a href="https://www.linkedin.com/in/zihan-xie-374280104/" target="_blank"> <i class="linkedin square icon"></i> Zihan Xie</a>，
    2017年春天毕业于匹兹堡大学 Information Science 专业。
    欢迎关注哈匹微信公众号，我们会为您推送最新的二手交易等信息。
    如果您对哈匹有任何意见和反馈，请联系 <a href=""><i class="mail icon"></i>hereinpitt@gmail.com</a>，
    或直接发送至微信公众号<strong>“哈匹HereInPittsburgh”</strong>。</p>
    
    <div style="text-align: center">
        <img style="width: 200px" src="https://s3.amazonaws.com/hereinpittsburgh/static_imgs/hip_wechat_code.jpg"></img>
        <p><i class="wechat icon"></i>哈匹HereInPittsburgh</p>
    </div>
    
</div>

<% include footer %>