        
        
        
    </body>
    
    <div class="ui divider" style="margin-top: 50px"></div>
    
    <div class="computer tablet only">
        <div class="ui two column middle aligned very relaxed stackable grid">
          <div class="center aligned column">
            <a href="/contact_us"><img style="width: 100px" src="https://s3.amazonaws.com/hereinpittsburgh/static_imgs/hip_wechat_code.jpg"></img></a>
          </div>
          <div class="center aligned column">
            <div>
                <a href="/"><img style="width: 130px" src="https://s3.amazonaws.com/hereinpittsburgh/static_imgs/hip_white_logo.jpg"></img></a>
            </div>
            <a style="margin-top: 10px; color: grey" href="/contact_us" style="color: black">About Us</a>
            <p style="margin-top: 5px; color: grey"><i class="mail icon"></i>hereinpitt@gmail.com</p>
          </div>
        </div>
        
        <div style="text-align: center">
            <div style="margin-top: 30px; color: grey"><p>HereInPittsburgh All rights reserved.</p></div>
        </div>
    </div>
    
    
    <div style="padding-bottom: 40px"></div>
</html>