<% include partials/header %>

<h1>lOGIN</h1>

<form action="/login" method="post">
    <input type="email" name="username" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="login">
    <a href="/register">New here? Sign Up!</a>
</form>


<% include partials/footer %>