
    <style>
      #map {
        height: 400px;
        width: 800px;
       }
    </style>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        //var pittsburgh = {lat: 40.445, lng: -79.95};
        var map = new google.maps.Map(document.getElementById('map'), {});
        var geocoder = new google.maps.Geocoder;
        var place_id = 'ChIJpcFy1DryNIgRyqMohG9Yxf8';
        geocoder.geocode({'placeId': place_id}, function(results, status) {
          if (status === 'OK') {
            if (results[0]) {
              map.setZoom(15);
              map.setCenter(results[0].geometry.location);
              var circle = new google.maps.Circle({
                  strokeWeight: 0,
                  fillColor: '#FF0000',
                  fillOpacity: 0.35,
                  map: map,
                  center: results[0].geometry.location,
                  radius: 100
              });
            } else {
              window.alert('No results found');
            }
          } else {
            window.alert('Geocoder failed due to: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBMASIofsTNkOuEteCjHEgVEdUza3lkK8&callback=initMap">
    </script>
