<% include partials/header %>

<div class="ui container" style="padding-top: 10px">

<div class="ui center aligned basic segment" style="width: 300px; margin: 30px auto;">
    
    <form class="ui form" action="/register" method="post">
        <div class="field">
            <div class="ui left icon input">
              <input type="text" name="personal_name" placeholder="your name" maxlength="10" required>
              <i class="user icon"></i>
            </div>
        </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="email" name="username" placeholder="email" required>
          <i class="mail icon"></i>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="password" name="password" id="pass1" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" placeholder="password" required>
          <i class="lock icon"></i>
        </div>
        <p style="color: grey">Minimum 8 characters, include uppercase letter, lowercase letter and number.</p>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <input type="password" name="password_validator" id="pass2" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" placeholder="confirm password" onkeyup="checkPass(); return false;" required>
          <i class="lock icon"></i>
        </div>
      </div>
      <span id="confirmMessage" class="confirmMessage"></span>
        <div class="field">
            <div class="ui left icon input">
              <input type="text" name="wechat" placeholder="wechat account">
              <i class="wechat icon"></i>
            </div>
        </div>
      <button class="ui blue button" style="width: 270px" type="submit">Sign up</button>
    </form>
  
</div>

<script>
  function checkPass()
{
    //Store the password field objects into variables ...
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    //Store the Confimation Message Object ...
    var message = document.getElementById('confirmMessage');
    //Set the colors we will be using ...
    var goodColor = "#1cb5ac";
    var badColor = "#ab5152";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.backgroundColor = "#fffff0";
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = "#fff6f6";
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }
} 
</script>


<% include partials/footer %>