
<form action="/uploads" method="post" enctype="multipart/form-data">
  <input type="file" name="uploadedImages" value="UPLOAD" multiple>
  <input type="submit" value="UPLOAD">
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//assets.transloadit.com/js/jquery.transloadit2-v3-latest.js"></script>







