<% include ../partials/header %>

<div class="ui container">
    
  <!--add new item-->
  <div style="width: 200px; margin: 30px auto">
    <div class="ui floating labeled teal icon dropdown button" style="width: 200px">
      <i class="dropdown icon"></i>
      <span class="text">Add New Item</span>
      <div class="menu">
        <a class="item" href="/items/new_sale">On Sale</a>
        <a class="item" href="/items/new_housing">Housing</a>
        <a class="item" href="/items/new_events">Events</a>
      </div>
    </div>
  </div>
    
  <!--user items-->
  <div style="margin-top: 50px">
    <h3 class="ui horizontal divider header">
      <i class="user icon" style="margin-bottom: 10px"></i>
      Your Items
    </h3>
    <% include ../items/items %>
  </div>
  
  <!--favorite items-->
  <div style="margin-top: 50px">
    <h3 class="ui horizontal divider header">
      <i class="star icon" style="margin-bottom: 10px"></i>
      Your Favorites
    </h3>
    <% if(favorites.length > 0) { %>
        <% var items = favorites; %>
        <% include ../items/items %>
    <% } %>
  </div>
    
</div>


<script>
  $(document).ready(function() {
    $('.ui.dropdown').dropdown();
  });
</script>


<% include ../partials/footer %>