<% include ../partials/header %>


<div class="ui container">
    
    <!--user items-->
    <div style="margin-top: 50px">
        <h3 class="ui horizontal divider header">
          <i class="user icon" style="margin-bottom: 10px"></i>
          <%= user.personal_name %>'s Items
        </h3>
        <% include ../items/items %>
    </div>
    
</div>


<% include ../partials/footer %>