
<form class="ui form" action="/items/new/add_imgs/<%= imgs.id %>" method="post" enctype="multipart/form-data">
  <div class="two fields">
    <div class="field">
      <input type="file" name="uploadedImages" value="UPLOAD" multiple>
    </div>
    <div class="field">
      <input type="submit" value="Add Images" class="ui teal button">
    </div>
  </div>
</form>

<div class="ui link cards">
  <% console.log(imgs); %>
  <% imgs.urls.forEach(function(url) { %>
    <% var imgName = imgs.id + url.slice(-5, -4); %>
    <% if(url != "") { %>
      <div class="card" style="width: 100px; height: 100px">
        <div><img id="img" class="ui image" src="<%= url %>" /></div>
        <a href="/items/new/remove_imgs/<%=imgName%>" class="ui corner red label"><i class="remove icon"></i></a>
      </div>
    <% }  %>
  <% }); %>
</div>

<div class="ui container" style="margin: 10px auto">
  <% if(imgs.count > 4) { %>
    <p style="color: red">Please delete some imgs. The max is 4.</p>
  <% } else { %>
    <div style="width: 200px; margin: 30px auto">
      <a class="ui teal icon button" href="/items/new/imgs_added" style="width: 200px">Done Uploading</a>
    </div>
  <% }%>
</div>


<style>
  #img {
    max-height: 100px;  
    max-width: 100px;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    border-radius: 0px !important;
  }
</style>
  
  









