
<form class="ui form" action="/items/new/add_imgs" method="post" enctype="multipart/form-data">
  <div class="two centered fields">
    <div class="field">
      <input type="file" name="uploadedImages" value="UPLOAD" multiple>
    </div>
    <div class="field" style="width: 140px">
      <input type="submit" value="Add Images" class="ui teal button" style="width: 120px; margin-top: 3px">
    </div>
  </div>
</form>



