<% include ../partials/header %>

<div id="map" style="width: auto; height: 90%"></div>


<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 13,
    center: {lat: 40.45, lng: -79.95},
  });
  var infowindow = new google.maps.InfoWindow();  
  var geocoder = new google.maps.Geocoder;
  var marker, i;
  

  //府河奥克兰
  geocoder.geocode( { 'address': '328 Atwood St, Pittsburgh, PA 15213'}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
      google.maps.event.addListener(marker, 'click', function() { 
        infowindow.setContent(
          '<a href="https://www.google.com/maps/place/Sichuan+Gourmet/@40.4442493,-79.9607364,15z/data=!4m12!1m6!3m5!1s0x0:0x55ab31f26f8a7e22!2sSichuan+Gourmet!8m2!3d40.4388758!4d-79.9552479!3m4!1s0x0:0x55ab31f26f8a7e22!8m2!3d40.4388758!4d-79.9552479" target="_blank">'
          +'<strong>府河人家-奥克兰</strong></a> - Sichuan Gourmet'
          +'<br>Call: <a style="color: black" href="tel: (412) 621-6889"><u>(412) 621-6889</u></a>'
          +'<br><a href="http://www.sichuan-gourmet.com" target="_blank"><u style="color: black">sichuan-gourmet.com</u>'
          +'</a><br>'+results[0].formatted_address+'<br>'
          +'介绍一下'
        );
        infowindow.open(map, marker);});} 
    else alert("some problem in geocode" + status);
  });
  
  //府河松鼠山
  geocoder.geocode( { 'address': '1900 Murray Ave, Pittsburgh, PA 15217'}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
      google.maps.event.addListener(marker, 'click', function() { 
        infowindow.setContent(
          '<a href="https://www.google.com/maps/place/Sichuan+Gourmet/@40.435909,-79.9271902,16z/data=!4m5!3m4!1s0x0:0x78c29b1261d9ac8!8m2!3d40.4357482!4d-79.9230963" target="_blank">'
          +'<strong>府河人家-松鼠山</strong></a> - Sichuan Gourmet'
          +'<br>Call: <a style="color: black" href="tel: (412) 521-1313"><u>(412) 521-1313</u></a>'
          +'<br><a href="http://www.sichuan-gourmet.com" target="_blank"><u style="color: black">sichuan-gourmet.com</u>'
          +'</a><br>'+results[0].formatted_address+'<br>'
          +'介绍一下'
        );
        infowindow.open(map, marker);});} 
    else alert("some problem in geocode" + status);
  });
  
  //唐园
  geocoder.geocode( { 'address': '228 Semple St, Pittsburgh, PA 15213'}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
      google.maps.event.addListener(marker, 'click', function() { 
        infowindow.setContent(
          '<a href="https://www.google.com/maps/place/Tongs+Cuisine/@40.439528,-79.9603421,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f1874a361283:0x1abfd40239950305!8m2!3d40.439528!4d-79.9581534" target="_blank">'
          +'<strong>唐园</strong></a> - Tong\'s Cuisine'
          +'<br>Call: <a style="color: black" href="tel: (412) 918-1484"><u>(412) 918-1484</u></a>'
          +'</a><br>'+results[0].formatted_address+'<br>'
          +'介绍一下'
        );
        infowindow.open(map, marker);});} 
    else alert("some problem in geocode" + status);
  });
  
  // //名字
  // geocoder.geocode( { 'address': '地址'}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //     var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
  //     google.maps.event.addListener(marker, 'click', function() { 
  //       infowindow.setContent(
  //         '<a href="原链接" target="_blank">'
  //         +'<strong>中文名</strong></a> - 英文名'
  //         +'<br>Call: <a style="color: black" href="tel: 电话"><u>电话</u></a>'
  //         +'<br><a href="网址" target="_blank"><u style="color: black">网址</u>'
  //         +'</a><br>'+results[0].formatted_address+'<br>'
  //         +'介绍一下'
  //       );
  //       infowindow.open(map, marker);});} 
  //   else alert("some problem in geocode" + status);
  // });
  
  // //名字
  // geocoder.geocode( { 'address': '地址'}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //     var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
  //     google.maps.event.addListener(marker, 'click', function() { 
  //       infowindow.setContent(
  //         '<a href="原链接" target="_blank">'
  //         +'<strong>中文名</strong></a> - 英文名'
  //         +'<br>Call: <a style="color: black" href="tel: 电话"><u>电话</u></a>'
  //         +'<br><a href="网址" target="_blank"><u style="color: black">网址</u>'
  //         +'</a><br>'+results[0].formatted_address+'<br>'
  //         +'介绍一下'
  //       );
  //       infowindow.open(map, marker);});} 
  //   else alert("some problem in geocode" + status);
  // });
  
  // //名字
  // geocoder.geocode( { 'address': '地址'}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //     var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
  //     google.maps.event.addListener(marker, 'click', function() { 
  //       infowindow.setContent(
  //         '<a href="原链接" target="_blank">'
  //         +'<strong>中文名</strong></a> - 英文名'
  //         +'<br>Call: <a style="color: black" href="tel: 电话"><u>电话</u></a>'
  //         +'<br><a href="网址" target="_blank"><u style="color: black">网址</u>'
  //         +'</a><br>'+results[0].formatted_address+'<br>'
  //         +'介绍一下'
  //       );
  //       infowindow.open(map, marker);});} 
  //   else alert("some problem in geocode" + status);
  // });
  
  // //名字
  // geocoder.geocode( { 'address': '地址'}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //     var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
  //     google.maps.event.addListener(marker, 'click', function() { 
  //       infowindow.setContent(
  //         '<a href="原链接" target="_blank">'
  //         +'<strong>中文名</strong></a> - 英文名'
  //         +'<br>Call: <a style="color: black" href="tel: 电话"><u>电话</u></a>'
  //         +'<br><a href="网址" target="_blank"><u style="color: black">网址</u>'
  //         +'</a><br>'+results[0].formatted_address+'<br>'
  //         +'介绍一下'
  //       );
  //       infowindow.open(map, marker);});} 
  //   else alert("some problem in geocode" + status);
  // });
  
  // //名字
  // geocoder.geocode( { 'address': '地址'}, function(results, status) {
  //   if (status == google.maps.GeocoderStatus.OK) {
  //     var marker = new google.maps.Marker({position: results[0].geometry.location, map: map}); 
  //     google.maps.event.addListener(marker, 'click', function() { 
  //       infowindow.setContent(
  //         '<a href="原链接" target="_blank">'
  //         +'<strong>中文名</strong></a> - 英文名'
  //         +'<br>Call: <a style="color: black" href="tel: 电话"><u>电话</u></a>'
  //         +'<br><a href="网址" target="_blank"><u style="color: black">网址</u>'
  //         +'</a><br>'+results[0].formatted_address+'<br>'
  //         +'介绍一下'
  //       );
  //       infowindow.open(map, marker);});} 
  //   else alert("some problem in geocode" + status);
  // });
    
  
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBMASIofsTNkOuEteCjHEgVEdUza3lkK8&libraries=places&callback=initMap"
    async defer></script>
<% include ../partials/footer %>