<% include ../partials/header %>

<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>


<div class="ui container" style="padding-top: 10px">
  
  <!--header-->
  <div style="margin-top: 50px">
    <h2 style="text-align: center">
    <i class="marker grey icon" style="display: inline; margin-bottom: 10px; margin-right: 10px"></i>
    Create a New Location</h2>
  </div>
  
  <!--loc info-->
  <div style="max-width: 600px; margin: 30px auto">
    
    <!--form-->
    <div style="margin-top: 50px">
    <form class="ui form" action="/explore/new_location" method="POST">
      <!--label-->
      <!--<h4 class="ui horizontal divider header">-->
      <!--  <i class="bar chart icon"></i>-->
      <!--  Details-->
      <!--</h4>-->
      <!--name-->
      <div class="field">
        <label>Name</label>
        <div class="ui corner labeled input">
          <input type="text" name="title" placeholder="name" maxlength="18" required>
          <div class="ui corner label">
            <i class="asterisk icon"></i>
          </div>
        </div>
      </div>
      <!--category-->
      <div class="field">
        <label>Category (click to choose)</label>
        <select name="category" class="ui simple fluid selection dropdown">
          <option value="foods">Foods</option>
          <option value="shopping">Shopping</option>
          <option value="school">School</option>
          <option value="housing">Housing</option>
          <option value="entertainment">Entertainment</option>
        </select>
      </div>
      <!--descreption-->
      <div class="field">
        <label>Description</label>
        <div class="field">
          <textarea name="descreption" rows="3" placeholder="Details Info"></textarea>
        </div>
      </div>
      <!--orgUrl-->
      <div class="field">
        <label>Reference URL</label>
        <input type="text" name="orgUrl" placeholder="The official site or other reference urls.">
      </div>
      <!--map-->
      <div class="field">
        <label>Address</label>
        <div class="field" style="visibility: hidden; height: 0; padding: 0; margin: 0">
          <input id="place-id" type="text" name="place_id" placeholder="place_id">
        </div>
        <div class="ui input field">
          <input id="pac-input" type="text" name="address" placeholder="Enter a location">
        </div>
        <div class="field">
          <div id="map"></div>
          <% include ../items/maps/map_marker %>
        </div>
      </div>
      <!--submit-->
      <div style="width: 200px; margin: 30px auto">
        <button class="ui teal button" style="width: 200px">Submit</button>
      </div>
    </form>

  </div>
  <!--item info above-->
  
</div>



<script>
  $(document).ready(function() {
      $('.ui.dropdown').dropdown();
  });
</script>


<% include ../partials/footer %>