<% include ../partials/header %>

<div style="padding-top: 10px"></div>

<!--items-->
<div style="margin-top: 30px">
    <h3 class="ui horizontal divider header">
      This is the results for: <%= query %>
    </h3>
    <% include ../items/items %>
</div>


<% include ../partials/footer %>